* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}

h2 {
    font-size: 90%;
    color: #638d53;
}

/*------------ menu ------------*/

header {
    width: 100%;
    height: 100px;
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #33312f;
}

header #logo {
    font-size: 90%;
}

header nav {
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
}

header nav ul a{
    padding: 10px;
    line-height: 1.8em;
    border-radius: 5px;
    color: #cc795b;
    font-size: 90%;
}

header nav ul a:hover {
    transition: 0.7s;
    color: #fff;
    background-color: #c76e4e;
}


/*------------ conteudo ------------*/
article {
    width: 85%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

article .conteudo {
    padding: 10px;
    flex-grow: 2;
    flex-basis: 70%;
}

article .conteudo .container-conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.conteudo .container-conteudo .box {
   flex-basis: 49%;
   margin-bottom: 10px;
   min-width: 300px;
   padding: 10px;
}

.container-conteudo #exposicao{
    line-height: 1.7em;
    list-style-type: circle;
}

#exposicao a{
    color: #cc795b;
}

/*---------area lateral------------*/
article aside {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 30%;
}