* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 100;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    background-color: rgb(235, 230, 228);
}

article h2 {
    font-size: 100%;
    color: #638d53;
}

aside h2 {
    font-size: 90%;
    color: #cc795b;
}

/*------------ menu ------------*/

header {
    width: 100%;
    height: 100px;
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #33312f;
}

header #logo {
    font-size: 90%;
}

header nav {
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
}

header nav ul a{
    padding: 10px;
    line-height: 2em;
    border-radius: 5px;
    color: #cc795b;
    font-size: 90%;
}

header nav ul a:hover {
    transition: 0.7s;
    color: #fff;
    background-color: #c76e4e;
}


/*------------ conteudo ------------*/
.container {
    width: 85%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}


article {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

article .conteudo {
    padding: 10px;
    flex-grow: 2;
    flex-shrink: 1;
}

article .conteudo .container-conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.conteudo .container-conteudo .box {
   width: 340px;
   padding: 10px;
   margin-bottom: 10px;
}

.container-conteudo #exposicao{
    line-height: 1.7em;
    list-style-type: circle;
}

#exposicao a{
    color: #cc795b;
}

/*---------area lateral------------*/
aside {
    width: 30%;
    min-width: 200px;
    padding: 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

aside .box-aside{
    margin-top: 20px;
    padding: 10px;
    background-color: #dbcdbac4;
}

.box-aside .galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.box-aside .galeria div {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 10px;
    padding: 5px;
    align-items: center;
    align-content: center;
    background: url(/img/fundo-foto.png) no-repeat center;
}

.foto {
    margin: auto;
}

#form {
    background: #b3aea0c4;
    display: flex;
    flex-direction: column;
}

#form .form {
    line-height: 1.7em;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#form button {
    width: 100%;
    margin: auto;
    padding: 5px;
    border: none;
    color: #fff;
    background-color: #7a6e4d;
}


/*-------------footer area -----------*/

footer {
    font-size: 100%;
    height: 100px;
    display: flex;
    border-top: 1px solid #cacacac0;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto 15%;
}

footer nav ul{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer nav ul a {
    color: #cc795b;
    padding: 10px;
}

footer div a{
    color: #cc795b;
}